@media (max-width: 1199px){
    .price-cards{
        grid-template-columns: auto;
        justify-content: center;
        gap: 60px 0;
    }    
}
@media (max-width: 900px){
    .burger-menu{
        display: block;
    }  
    .header-menu-list li{
        display: none;
    }
    .header-inner{
        background: #fff;
        z-index: 10;
    }
    .course-programm-card-list{
        grid-template-columns: auto;
        justify-content: center;
        gap: 25px;
    }
    .about-teacher-inner{
        flex-wrap: wrap-reverse;
    }
    .__third_card{
        grid-column: 1;
        width: 100%;
    }
    .arrow-down{
        width: 30px;
        right: 150px;
        bottom: 100px;
    }
    .play-btn img{
        width: 50px;
        top: calc(50% - 60px);
        left: calc(50% - 25px);
    }
    .price-card-img img{
        width: 60px;
    }
    .slick-slide img {
        margin: 0 auto;
    }
    img.comp-icon{
        display: none;
    }
}
@media (max-width: 600px){
    .price-card-item{
        width: 100%;
    }
    .underline-main-text::after{
        top: 50px;
    }

}
@media (max-width: 760px){
    .about-video-course{
        width: 100%;
    }    
    .course-for-title::after {
        left: 0;
    }
    .dignity-cards{
        grid-template-columns: auto;
    }
    .about-teacher-title::after{
        left:0;
    }
    .course-programm-title::after{
        left: 0;
    }
    .main-text-block{
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;      
    }
    .underline-main-text::after{
        content: url('../img/main-underline-mini.svg');
        top: 30px;
    }
    .main-inner{
        padding-bottom: 43px;
    }
    .dignity-title{
        padding-bottom: 37px;
    }
    .dignity-inner{
        padding-bottom: 37px;
    }
    .dignity-card-about{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
    .active-title{
        padding-right: 35px;
    }
    .main-text-about{
        padding-top: 49px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;    
    }
    .main-text-subtitle{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
    .main-text-arrow{
        padding-bottom: 20px;
    }
    .main-text-arrow img{
        width: 40px;
    }
    .dignity-cards{
        gap: 20px;
    }
    .dignity-card-item{
        padding: 17px 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
    .dignity-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
    }
    .teacher-photo{
        width: 190px;
    }
    .active-inner{
        padding-bottom: 110px;
    }
    .arrow-down{
        bottom: 50px;
        right: 20px;
    }
    .active-title{
        display: block;
        margin: 0 auto;
        padding-right: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        padding-bottom: 30px;    
    }
    .active-buttons{
        text-align: left;
    }
    a.main-btn{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        padding: 18.5px 20px;    
    }
    a.second-btn{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;    
        margin-left: 25px;
    }
    .about-teacher-title{
        font-weight: 600;
        font-size: 30px;
        line-height: 40px; 
        padding-bottom: 43px;
    }
    .about-teacher-title::after{
        content: url('../img/about-teacher-underline-mini.png');
    }
    .about-teacher-subtitle{
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        font-style: normal;
    }
    .about-teacher-inner{
        padding-bottom: 30px;
    }
    .about-teacher-info p{
        font-weight: 400;
        padding: 15px 0 15px 0;
        font-size: 16px;
        line-height: 26px;
    }
    li.prof-exp{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;    
    }
    .course-for-title{
        font-weight: 600;
        font-size: 30px;
        padding-bottom: 40px;
        line-height: 40px;     
    }
    .course-for-title::after{
        content: url('../img/course-for-underline-mini.svg');
        top: 65px;
    }
    .course-for-inner{
        padding-bottom: 80px;
    }
    .course-for-item{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
    .course-programm-title{
        font-weight: 600;
        font-size: 30px;
        line-height: 40px; 
        padding-bottom: 40px;   
    }
    .course-programm-title::after{
        content: url('../img/course-for-underline-mini.svg');
    }
    .course-for-item::before{
        width: 20px;
    }
    .card-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;    
    }
    .card-list{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;   
    }
    .about-course-video-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;   
        padding-bottom: 25px; 
    }
    .price-cardds{
        padding-top: 30px;
    }
    .price-title{
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;    
    }
    .price-cards{
        padding: 60px 0 80px 0;
        gap: 45px 0;
    }
    .price-card-item{
        display: block;
    }
    .price-card-title,
    .price-card-price{
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;    
    }
    .price-card-right li{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;    
    }
    .price-card-right ul{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-text-editor{
        top: -60px;
        width: 65px;    
    }
    .course-for-items{
        grid-template-columns: auto;
    }
    .why-title{
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 20px;    
    }
    .why-title::after{
        content: url('../img/why-under-line-mini.png');
        left: 0;
    }
    .why-card-txt{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;    
    }
    .why-cards{
        grid-template-columns: auto;
        padding-bottom: 30px;
    }
    .why-present{
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;    
    }
    .why-present::after{
        top: -50px;
    }
    .why-inner{
        padding-bottom: 80px;
    }
    .teacher-works-title{
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 44px;    
    }
    .teacher-works-inner{
        padding-bottom: 70px;
    }
    .form-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;    
    }
    .form-subtitle{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 35px;
    }
    .money-icon{
        display: none;
    }
    .course-programm-inner{
        padding-bottom: 30px;
    }
    .video-main-btn{
        padding-bottom: 80px;
    }
    img.star-icon{
        bottom: 20px;
        right: 15px;
        width: 60px;
    }
    img.comp-icon{
        bottom: 0;
        right: 15px;
        width: 80px;
    }
    input.main-btn{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        padding: 20px 30px;    
    }
    .footer-menu-block{
        display: block;
    }
    .footer-menu-list {
        padding-left: 0;
        padding-top: 10px;
    }
    .footer-menu-list li a{
        font-weight: 400;
        font-size: 13px;
        line-height: 26px;
        color: #221F1C;  
    }
    .contacs-p,
    .adress{
        font-size: 13px;
    }
    .adress{
        padding-top: 5px;
    }
    .footer-contacts-title{
        font-size: 18px;
        line-height: 26px;        
    }
    p.contacts-p{
        font-size: 16px;
        line-height: 26px;
    }
    .footer-menu-list li:not(:last-child) {
        padding-bottom: 10px;
    }
    .footer-img img{
        width: 120px;
    }
    .footer-inner{
        gap: 0 15px;
    }
    .__contacts-footer-menu{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    img.social-icon{
        width: 40px;
    }
    .__social-icons{
        padding-top: 10px;
    }
    
}

@media (max-width: 500px){
    input.email, textarea.textarea{
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
}
@media (max-width: 370px){
    .underline-main-text::after{
        content: url('../img/main-underline-mini.svg');
        top: 85px;
    }
}